.iframeContainer {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}


.iframeBase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.7), 0 0 30px 10px rgba(0, 0, 255, 0.5);
}